body{
    font-family: "Prompt", serif;
    font-weight: 100;
    font-style: normal;
}

h1{
    text-align: center;
}

.container{
    padding: 30px;
    background-color: rgb(215, 215, 215);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preLoader{
    width: 99%;
    height: 100%;
    background-color:rgb(215, 215, 215);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    z-index: 9999;
}
.spinner{
    width: 85px;
    height: 85px;
    border: 8px solid green;
    border-bottom-color: transparent;
    border-radius: 50px;
    animation: spin 1s infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}

.productWrapper{
    font-weight: 300;
    top: 0px;
    min-height: 350px;
    font-size: 40px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(186, 186, 186);
    display: flex;
    box-sizing: border-box;
}

img{
    max-width: 150px;
    mix-blend-mode: multiply;
}

.productImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.productInfo{
    padding: 30px;
    box-sizing: border-box;
}

.title{
    display: inline-block;
    font-size: 25px;
    min-height: 65px;
    font-weight: bolder;
}

.category{
    display: block;
    font-size: 20px;
}

.price{
    margin-top: 40px;
}

.AddToCart{
    padding: 10px;
    font-size: 20px;
    margin-left: 50px;
    background-color: rgb(0, 239, 36);
    border-radius: 50px;
    cursor: pointer;
}

.AddToCart:hover{
    background-color: rgb(0, 171, 26);
    color: white;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination{
    display: flex;
    justify-content: center;
}

.pagebtn{
    font-size: 30px;
    width: 60px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
}

.active{
    background-color: green;
    color: white;
}

.cartBtn{
    z-index: 999;
    display: flex;
    font-size: 20px;
    padding: 10px;
    position: fixed;
    cursor: pointer;
    top: 0%;
    left: 0%;
}

.cart{
    z-index: 999;
    display: none;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 15%;
    width: 900px;
    height: 450px;
    border: 5px solid black;
    border-radius: 50px;
    padding: 50px;
}

.headers {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.cartheader{
    font-size: 30px;
    font-weight: bold;
}

.items{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height: 350px;
    overflow-y: scroll;
}

.incartname,.quantity,.priceincart{
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    border-top: 1px solid black;
}

.removeitem{
    margin-left: 30px;
}

.finalprice{
    position: absolute;
    width: 90%;
    bottom: 5%;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 300;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.close{
    position: absolute;
    font-size: 50px;
    left: 94%;
    top: 0;
    font-weight: 300;
    cursor: pointer;
}

@media (max-width:1346px) {
    .container{
        grid-template-columns: 1fr;
    }
    .cart{
        width: 500px;
    }
}

@media (max-width:626px) {
    .container{
        .productWrapper{
            flex-wrap: wrap;
        }
    }
    .cart{
        width: 300px;
    }
    .finalprice{
        width: 80%;
    
    }
    .items{
        width: 105%;
    }
    .AddToCart{
        margin-left: 0px;
        display: block;
    }
}
